StackExchangeClient/web/WEB-INF/wsdl/localhost_8081/MarketplaceWS/marketplace.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://marketplace.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://marketplace.com/" name="marketplace">
<types>
<xsd:schema>
<xsd:import namespace="http://marketplace.com/" schemaLocation="http://localhost:8081/MarketplaceWS/marketplace?xsd=1"/>
</xsd:schema>
</types>
<message name="getProductPurchase">
<part name="parameters" element="tns:getProductPurchase"/>
</message>
<message name="getProductPurchaseResponse">
<part name="parameters" element="tns:getProductPurchaseResponse"/>
</message>
<message name="getLike">
<part name="parameters" element="tns:getLike"/>
</message>
<message name="getLikeResponse">
<part name="parameters" element="tns:getLikeResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllProduct">
<part name="parameters" element="tns:getAllProduct"/>
</message>
<message name="getAllProductResponse">
<part name="parameters" element="tns:getAllProductResponse"/>
</message>
<message name="getYourProduct">
<part name="parameters" element="tns:getYourProduct"/>
</message>
<message name="getYourProductResponse">
<part name="parameters" element="tns:getYourProductResponse"/>
</message>
<message name="insertLike">
<part name="parameters" element="tns:insertLike"/>
</message>
<message name="insertLikeResponse">
<part name="parameters" element="tns:insertLikeResponse"/>
</message>
<message name="getPhoto">
<part name="parameters" element="tns:getPhoto"/>
</message>
<message name="getPhotoResponse">
<part name="parameters" element="tns:getPhotoResponse"/>
</message>
<message name="changeLikeStatus">
<part name="parameters" element="tns:changeLikeStatus"/>
</message>
<message name="changeLikeStatusResponse">
<part name="parameters" element="tns:changeLikeStatusResponse"/>
</message>
<message name="getPhotoPurchase">
<part name="parameters" element="tns:getPhotoPurchase"/>
</message>
<message name="getPhotoPurchaseResponse">
<part name="parameters" element="tns:getPhotoPurchaseResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="getTotalPurchase">
<part name="parameters" element="tns:getTotalPurchase"/>
</message>
<message name="getTotalPurchaseResponse">
<part name="parameters" element="tns:getTotalPurchaseResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<message name="searchProduct">
<part name="parameters" element="tns:searchProduct"/>
</message>
<message name="searchProductResponse">
<part name="parameters" element="tns:searchProductResponse"/>
</message>
<message name="getLikeStatus">
<part name="parameters" element="tns:getLikeStatus"/>
</message>
<message name="getLikeStatusResponse">
<part name="parameters" element="tns:getLikeStatusResponse"/>
</message>
<message name="getProductSales">
<part name="parameters" element="tns:getProductSales"/>
</message>
<message name="getProductSalesResponse">
<part name="parameters" element="tns:getProductSalesResponse"/>
</message>
<message name="confirmPurchase">
<part name="parameters" element="tns:confirmPurchase"/>
</message>
<message name="confirmPurchaseResponse">
<part name="parameters" element="tns:confirmPurchaseResponse"/>
</message>
<portType name="marketplace">
<operation name="getProductPurchase">
<input wsam:Action="http://marketplace.com/marketplace/getProductPurchaseRequest" message="tns:getProductPurchase"/>
<output wsam:Action="http://marketplace.com/marketplace/getProductPurchaseResponse" message="tns:getProductPurchaseResponse"/>
</operation>
<operation name="getLike">
<input wsam:Action="http://marketplace.com/marketplace/getLikeRequest" message="tns:getLike"/>
<output wsam:Action="http://marketplace.com/marketplace/getLikeResponse" message="tns:getLikeResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://marketplace.com/marketplace/helloRequest" message="tns:hello"/>
<output wsam:Action="http://marketplace.com/marketplace/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllProduct">
<input wsam:Action="http://marketplace.com/marketplace/getAllProductRequest" message="tns:getAllProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/getAllProductResponse" message="tns:getAllProductResponse"/>
</operation>
<operation name="getYourProduct">
<input wsam:Action="http://marketplace.com/marketplace/getYourProductRequest" message="tns:getYourProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/getYourProductResponse" message="tns:getYourProductResponse"/>
</operation>
<operation name="insertLike">
<input wsam:Action="http://marketplace.com/marketplace/insertLikeRequest" message="tns:insertLike"/>
<output wsam:Action="http://marketplace.com/marketplace/insertLikeResponse" message="tns:insertLikeResponse"/>
</operation>
<operation name="getPhoto">
<input wsam:Action="http://marketplace.com/marketplace/getPhotoRequest" message="tns:getPhoto"/>
<output wsam:Action="http://marketplace.com/marketplace/getPhotoResponse" message="tns:getPhotoResponse"/>
</operation>
<operation name="changeLikeStatus">
<input wsam:Action="http://marketplace.com/marketplace/changeLikeStatusRequest" message="tns:changeLikeStatus"/>
<output wsam:Action="http://marketplace.com/marketplace/changeLikeStatusResponse" message="tns:changeLikeStatusResponse"/>
</operation>
<operation name="getPhotoPurchase">
<input wsam:Action="http://marketplace.com/marketplace/getPhotoPurchaseRequest" message="tns:getPhotoPurchase"/>
<output wsam:Action="http://marketplace.com/marketplace/getPhotoPurchaseResponse" message="tns:getPhotoPurchaseResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://marketplace.com/marketplace/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="getTotalPurchase">
<input wsam:Action="http://marketplace.com/marketplace/getTotalPurchaseRequest" message="tns:getTotalPurchase"/>
<output wsam:Action="http://marketplace.com/marketplace/getTotalPurchaseResponse" message="tns:getTotalPurchaseResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://marketplace.com/marketplace/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://marketplace.com/marketplace/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/addProductResponse" message="tns:addProductResponse"/>
</operation>
<operation name="searchProduct">
<input wsam:Action="http://marketplace.com/marketplace/searchProductRequest" message="tns:searchProduct"/>
<output wsam:Action="http://marketplace.com/marketplace/searchProductResponse" message="tns:searchProductResponse"/>
</operation>
<operation name="getLikeStatus">
<input wsam:Action="http://marketplace.com/marketplace/getLikeStatusRequest" message="tns:getLikeStatus"/>
<output wsam:Action="http://marketplace.com/marketplace/getLikeStatusResponse" message="tns:getLikeStatusResponse"/>
</operation>
<operation name="getProductSales">
<input wsam:Action="http://marketplace.com/marketplace/getProductSalesRequest" message="tns:getProductSales"/>
<output wsam:Action="http://marketplace.com/marketplace/getProductSalesResponse" message="tns:getProductSalesResponse"/>
</operation>
<operation name="confirmPurchase">
<input wsam:Action="http://marketplace.com/marketplace/confirmPurchaseRequest" message="tns:confirmPurchase"/>
<output wsam:Action="http://marketplace.com/marketplace/confirmPurchaseResponse" message="tns:confirmPurchaseResponse"/>
</operation>
</portType>
<binding name="marketplacePortBinding" type="tns:marketplace">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProductPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getYourProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertLike">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPhoto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeLikeStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPhotoPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTotalPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLikeStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="confirmPurchase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="marketplace">
<port name="marketplacePort" binding="tns:marketplacePortBinding">
<soap:address location="http://localhost:8081/MarketplaceWS/marketplace"/>
</port>
</service>
</definitions>